#root {
  /* background-color: rgb(149, 149, 235); */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.app-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}