/* QUIZ FORM */

.quiz-form-outer-div {
    /* background-color: rgb(202, 202, 202); */
    min-width: 1024px;
    max-width: 1220px;
    height: 1500px;
    display: flex;
    flex-direction: column;
}

.quiz-form-header-div {
    /* background-color: cadetblue; */
    padding: 30px 0 30px 40px;
    line-height: 1.5;
}

.quiz-form-header-div h1 {
    font-size: 40px;
    font-weight: 300;
    color: #015958
}

.quiz-form-header-div h2 {
    font-size: 20px;
    font-weight: 300;
    color: rgb(40, 40, 40)
}

.quiz-form-container {
    background: rgb(1,89,88);
    background: linear-gradient(90deg, rgba(1,89,88,1) 0%, rgba(0,143,140,1) 50%, rgba(35,96,110,1) 100%);
    height: 400px;
    width: 1100px;
    padding: 30px 0 30px 40px;
    border-radius: 40px;
}

.question-div {
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
}

.question-div > h1 {
    color: #FACFCE
}

.question {
    font-size: 30px;
    padding: 20px 0 50px;
    color: white;
    font-weight: 300;
    width: 80%;
    line-height: 1.4;
}

.question-choice-div {
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.quiz-question-label {
   display: inline-block;
    /* background-color: white; */
    padding: 15px 50px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 40px;
    color: white;
    cursor: pointer;
}

.quiz-question-label > input[type="radio"], .quiz-question-label-active > input[type="radio"]   {
    opacity: 0;
    position: fixed;
    width: 0;
}

.quiz-question-label-active {
    display: inline-block;
    background-color: #89D99D;
    padding: 15px 50px;
    border-radius: 40px;
    color: #023535;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.button-div {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.quiz-form-button {
    width: fit-content;
    /* padding: 5px 10px; */
    background-color: #facfce00;
    border: none;
    font-size: 15px;
    font-weight: 700;
    color: #FACFCE;
    display: flex;
    align-items: center;
}

.quiz-form-button svg {
    font-size: 1.4rem;
    color: #FACFCE
}

.quiz-form-button:hover {
    cursor: pointer;
}

/* RESULTS PAGE */

.quiz-results-outer-div {
    /* background-color: blue; */
    min-width: 1024px;
    max-width: 1220px;
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-results-outer-div > h1 {
    font-size: 25px;
    padding-bottom: 60px
}

.score-wrapper {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem
}

.score-div {
    width: 300px;
    background-color: #689d9d;
    /* height: 250px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    /* border: 1px solid rgb(231, 231, 231); */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.intro-div {
    background-color: #0b6565;
}

.score-header-div {
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score {
    font-size: 70px;
    font-weight: 300;
}

.score > span {
    font-size: 40px;
}

.score-label {
    font-size: 15px;
    font-weight: 700;
}

.descrip {
    font-weight: 300;
    line-height: 1.4;
}

.img-div {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.img {
    width: 300px; 
    object-fit: cover;
}

.intro-img {
    width: 600px;
    object-fit: contain;
}

.descrip-div {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.quiz-results-button-div {
    
}
