.navbar-wrapper {
    /* background-color: blue; */
    width: 100vw;
    height: 80px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.navbar-div {
    background-color: white;
    min-width: 1224px;
    max-width: 1420px;
    height: 50px;
    display: flex;
    align-items: center;
    font-weight: 400;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.logo-div {
    /* background-color: blue; */
    margin-left: 5%;
}

.logo-img {
    width: 150px;
    height: 75px;
}

.nav-links-div {
    /* background-color: aquamarine; */
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 55%
}

.user-button {
    background: none;
    border: none;
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #015958;
    font-size: 16px;
    text-transform: uppercase;
}

.user-button:hover {
    background-color: rgb(236, 236, 236);
    border-radius: 40px;
}

/* .user-show-link{
    cursor: pointer;
    color: rgb(44, 44, 44);
    font-size: 18px
} */