.navbar-wrapper {
    /* background-color: blue; */
    width: 100vw;
    height: 80px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.navbar-div {
    background-color: white;
    min-width: 1224px;
    max-width: 1420px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.navbar-inner-div {
    min-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-div {
    /* background-color: blue; */
    margin-left: 5%;
}

.logo-img {
    width: 150px;
    height: 75px;
}

.nav-links-div {
    /* background-color: aquamarine; */
    width: 650px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 55%
}

.menu-list {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    padding-top: 20px
}

.user-button {
    background: none;
    border: none;
    min-width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    cursor: pointer;
    color: #015958;
    font-size: 14px;
    text-transform: uppercase;
    /* border-bottom: 1px solid lightgray */
}

.user-button:hover {
    background-color: rgb(245, 245, 245);
    font-weight: 700;
}

.user-links-right-div {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
}

/* MENU DROPDOWN */

.menu-outer-div {
    /* background-color: aqua; */
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    min-width: 500px;
    gap: 1rem;
    height: 20px;
    color: #015958;
}

.menu-wrapper {
    background-color: white;
    position: fixed;
    top: 70px;
    height: 240px;
    width: 200px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}