/* .map-div {
    position:absolute; 
    top:0; 
    bottom:0; 
    width:100%;
} */

.map-App{
    display: flex;
    bottom: 10px;
    top: 80px;
    height: 600px;
    /* margin-top: 30px; */
}
.map-params{
    /* display: inline-block; */
    /* position: absolute;  */
    
}