.user-activity-outer-div {
    background-color: rgb(240, 240, 240);
    width: 100vw;
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-activity-inner-div {
    background-color: white;
    min-width: 1024px;
    max-width: 1220px;
    height: 1400px;
    margin-top: 50px;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#useractivityimg {
    width: 300px;
    height: 150px;
    object-fit: cover;
    margin-bottom:10px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.activity-descript-div {
    /* background-color: blue; */
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    gap: 0.3rem;
}

#acttitle {
    font-weight:700;
    font-size:17px;
    text-align: center;
    line-height: 1.4;
}

#acttype {
    font-size: 15px;
}

#pricediv {
    display:flex;
    flex-direction:row;
    font-size: 15px;
}

.user-links-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calenderlink, #reviewlink {
    background-color: rgb(233, 233, 233);
    border-radius:40px;
    width:230px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    /* font-weight:700; */
    text-decoration: none;
    color:rgb(11,101,101);
    margin-bottom:10px;
}

#calenderlink:hover, #reviewlink:hover {
    background-color: #008F8C;
    color: white;
}

#linktoeditreview, #buttontodelete {
    background-color: rgba(233, 233, 233, 0);
    border-radius:40px;
    width:230px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    color: white;
    font-size: 15px;
}



#reviewlink {
    margin-bottom:4px;
}
#linktoeditreview {
    margin-top:px;
}

#linktoeditreview, #buttontodelete {
    margin-top:10px;
    border:1px solid white;
    width:100%;
    font-size:15px;
    margin-bottom:5px;
}

#linktoeditreview:hover, #buttontodelete:hover {
    background-color: #008F8C;
    border: none;
}


#linktoeditreview {
    margin-top:20px;
}

#individualactivityuseractivity {
    display:flex;
    background-color: white;
    flex-direction:column;
    align-items:center;
    border-radius:40px;
    width:300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
    height:380px;
    padding-bottom:20px;
    margin-right:40px;
    color: #015958
}

#activitiesdisplayinuseractivities::-webkit-scrollbar-thumb, #overflowreview::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

#activitiesdisplayinuseractivities, #overflowreview {
    /* display:grid; */
    /* align-self:flex-start; */
    /* grid-template-columns: repeat(2, 260px);
    gap:80px; */
    /* background-color: aqua; */
    display:flex;
    align-items: center;
    overflow-x: scroll;
    width:1050px;
    height:530px;
    /* background-color: aquamarine; */
}

#useractivityactivityandreviews {
    display:flex;
    min-width: 1224px;
    max-width: 1420px;
    flex-direction:column;
    width: max-content;
    /* justify-content: flex-start; */
    /* background-color: blueviolet; */
}

#reviewdivuseractivities {
    display:flex;
    flex-direction:column;
    width:395px;
    margin-right:10px;
    margin-left:100px;
}

#useractdiv {
    width:70%;
    margin-left:100px;
}


.activity-schedule-time {
    width: 80%;
    text-align: center;
    font-weight: 700;
    line-height: 1.2;
    font-size: 15px;
    height: 50px;
    color: #008F8C;
}

#innerreviewdivuseractivities {
    display:flex;
    flex-direction:column;
    background-color: #015958;
    height:450px;
    width:255px;
    color:white;
    align-self:flex-end;
    border-radius:40px;
    padding:1.5rem;
    margin-bottom:20px;
    margin-right:35px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#reviewdate {
    color:rgb(202, 189, 189);
    padding-bottom: 15px;
    font-size: 13px;
}

#reviewactivity {
    font-weight:700;
    padding-bottom: 18px;
    line-height: 1.4;
}

#hline {
    height:2px;
    background:rgb(202, 189, 189);
    width:100%
}

#reviewentrytitle {
    margin-top:10px;
    font-weight:700;
    align-self: center;
    font-size:20px;
}

#reviewstaruseractivity{
    margin-top:6px;
    align-self:center;
}

#reviewtitleuseractivity {
    margin-top:10px;
    font-weight:700;
    font-size:15px;
    color: #015958;
    line-height: 1.5
}

#reviewbodyuseractivity {
    margin-top:4px;
    line-height: 1.4;
    font-size: 13px;
}

#vline {
    border-right: 1px solid rgb(128, 128, 129);
    MARGIN-LEFT:38PX;
}

#UserWelcome {
    align-self:center;
    font-size:35px;
    margin-top:50px;
    margin-bottom:35px;
    /* font-family: 'Dawning of a New Day', cursive ; */
    margin-left:100px;
    font-weight: 700;
    color: #015958;
}

#selectedactivities, #reviewactivities {
    font-weight:700;
    font-size:25px;
    margin-bottom:30px;
    color: #008F8C;
}


.review-buttons-div {
    /* background-color: red; */
    /* margin-top: 50px */
}


.review-description-div {
    background-color: white;
    border-radius: 20px;
    height: 200px;
    margin-top: 40px;
    padding: 20px;
    color: #023535;
}