#lighteningradioinput {
    display:none;
}

#lighteningratinginreview, #errorlightening {
    cursor: pointer;
    transition: color 200ms;
    margin-top:8px;
    margin-bottom:10px;
}


#color {
    color: #4eeb1e
}

#reviewheader {
    color:white;
    margin-left:50px;
    margin-top:35px;
    font-size:38px;
    font-weight: 700;
}

#outterreviewpagediv {
    background: rgb(1,89,88);
    background: linear-gradient(90deg, rgba(1,89,88,1) 0%, rgba(0,143,140,1) 50%, rgba(35,96,110,1) 100%);
    border-radius: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    flex-direction: column;
    height:650px;
    width:800px;
    margin-top:20px;
    align-items:flex-start;
    margin-bottom: 100px
}

#reviewformouter {
    display:flex;
    flex-direction:column;
    margin-left:50px;
    margin-top:35px;
}

#reviewratingdiv, #reviewtitleentry, #reviewbodyentry {
    display:flex;
    flex-direction:column;
    margin-bottom:30px;
    font-size:23px;
    font-weight: 300;
    color:white;
}

#lightradio {
    display:flex;
    flex-direction:row;
}

#reviewtitleinput, #reviewbodyinput, #errorbody, #errortitle {
    line-height: 32px;
    display: flex;
    align-items: center;
    width:700px;
    padding-left: 10px;
    border-radius: 10px;
    margin-top:10px;
    border: 1px solid white;
    font-size: 20px
}


#reviewbodyinput, #errorbody {
    /* line-height:200px; */
    width: 100%;
    height: 150px;
    padding: 6px 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

#errorbody, #errortitle {
    border:1px solid #ff0000;
}

.edit-review-button-div {
    display: flex;
    justify-content: space-evenly;
    /* background-color: #4eeb1e; */
}

#reviewsubmit {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #ffffff;
    height: 40px;
    font-size:18px;
    /* font-weight:700; */
    color:white;
    CURSOR:pointer;
    margin-top:15px;
    width:40%;
    align-self:center;
    border-radius:40px;
    text-transform: uppercase;
}

#reviewsubmit:hover {
    background-color:#89D99D;
    border: none;
    color: #015958;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1p
}

#reviewsubmit:active {
    background-color:#ffb0a9;
    border: 1px solid #ffb0a9;
    box-shadow: inset 0px 0px 10px #1b1b1b;
}

#error {
    color:rgb(129, 3, 3);
    font-size:16px;
    font-weight:700;
    margin-top:5px;
}