.splash-div {
    /* min-width: 1224px;
    max-width: 1420px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splash-main-div {
    display: flex;
    justify-content: center;
    height: 780px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.splash-img {
    width: 100vw;
    height: 900px;
    object-fit: cover;
    object-position: 500px 50%;
}

.splash-main-wrapper {
    /* background-color: rgba(0, 0, 255, 0.212); */
    min-width: 1224px;
    max-width: 1420px;
    height: 85%;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.splash-nav-links-div {
    /* background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 40px; */
    width: 350px;
    height: 300px;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    /* margin-top: 190px; */
    
}

.splash-nav-links {
    background-color: rgb(235, 235, 235);
    width: 220px;
    height: 40px;
    border: none;
    border-radius: 40px;
    color: #015958;
    font-size: 16px;
}

.splash-nav-links:hover {
    background-color: #008F8C;
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.splash-logo {
    padding: 120px 0 20px;
    width: 180px;
}

.splash-copy-div {
    display: flex;
    flex-direction: column;
    color: #015958;
    margin-top: 25px;
}

.splash-header {
    /* background-color: beige; */
    font-size: 60px;
    font-weight: 700;
    color: #23606E;
}

.splash-main-copy {
    width: 500px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3;
}

.splash-main-copy > span {
    font-family: 'Dawning of a New Day', cursive ;
    font-size: 55px;
    padding: 0 5px;
    color: #ff6764;
    /* text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.062) */
}


/* HOW TO DIV */

.how-to-div {
    background-color: white;
    width: 100vw;
    height: 380px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    flex-direction: column;
}

.how-to-inner-div > h1{
    padding: 20px 50px;
    font-family: 'Dawning of a New Day', cursive ;
    font-size: 60px;
    color: #23606E
}

.how-to-copy-div {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    height: 270px;
    padding-left: 50px;
}

.take-quiz-div, .activities-div, .planner-div {
    font-size: 15px;
    height: 60px;
    width: 400px;
    color: white;
    line-height: 1.5;
}

.take-quiz-div > a, .activities-div > h1, .planner-div > h1{
    font-size: 18px;
    font-weight: 700;
    color: #04E7F2
}

.take-quiz-div > p, .activities-div > p, .planner-div > p{
    font-size: 17px;
    font-weight: 300;
}

.calender{
    display: flex;
    margin-left: 700px;
}

