.splash-div {
    /* min-width: 1224px;
    max-width: 1420px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splash-main-div {
    display: flex;
    justify-content: center;
    height: 780px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.splash-img {
    width: 100vw;
    height: 900px;
    object-fit: cover;
}

.splash-main-wrapper {
    /* background-color: rgba(0, 0, 255, 0.212); */
    min-width: 1224px;
    max-width: 1420px;
    z-index: 100;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.splash-nav-links-div {
    background-color: white;
    width: 350px;
    height: 80px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

.splash-logo {
    padding: 120px 0 20px;
    width: 200px;
}

.splash-copy-div {
    display: flex;
    flex-direction: column;
    color: #023535;
    margin-top: 25px;
}

.splash-header {
    /* background-color: beige; */
    font-size: 40px;
    font-weight: 700;
    color: #23606E;
}

.splash-main-copy {
    width: 350px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
}

.splash-main-copy > span {
    font-family: 'Dawning of a New Day', cursive ;
    font-size: 50px;
    padding: 0 5px;
    color: #008F8C;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.137)
}

/* HOW TO DIV */

.how-to-div {
    background-color: #8dc0c0;
    width: 100vw;
    height: 380px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    flex-direction: column;
}

.how-to-inner-div > h1{
    padding: 20px 50px;
    font-family: 'Dawning of a New Day', cursive ;
    font-size: 60px;
    color: #23606E
}

.how-to-copy-div {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    height: 270px;
    padding-left: 50px;
}

.take-quiz-div, .activities-div, .planner-div {
    font-size: 15px;
    height: 60px;
    width: 400px;
    color: white;
    line-height: 1.5;
}

.take-quiz-div > a, .activities-div > h1, .planner-div > h1{
    font-size: 18px;
    font-weight: 700;
    color: #04E7F2
}

.take-quiz-div > p, .activities-div > p, .planner-div > p{
    font-size: 17px;
    font-weight: 300;
}

.calender{
    display: flex;
    margin-left: 700px;
}

